:root {
  /* Text */
  --font-family-primary : 'Montserrat', sans-serif;
  --font-family-mono    : monospace;

  /* Colors (main) */
  --color-primary-1   : #bc9cff;
  --color-primary-2   : #8ba4f9;
  --color-secondary-1 : #6fcf97;
  --color-secondary-2 : #66d2ea;
  --color-red         : #ffa08e;

  /* Colors (grayscale) */
  --color-black     : #000000;
  --color-gray-100p : #1f2041;
  --color-gray-75p  : #575871;
  --color-gray-50p  : #8f90a0;
  --color-gray-25p  : #c7c7cf;
  --color-gray-15p  : #dedee3;
  --color-gray-10p  : #e9e9ec;
  --color-gray-5p   : #f3f4f5;
  --color-white     : #ffffff;

  /* Gradients */
  --gradient-primary   : linear-gradient(-45deg, var(--color-primary-1), var(--color-primary-2));
  --gradient-secondary : linear-gradient(45deg, var(--color-primary-1), var(--color-primary-2));
  --gradient-white     : linear-gradient(var(--color-white), var(--color-white));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--color-gray-75p);
  font-size: 14px;
  font-family: var(--font-family-primary);
  line-height: 1.75;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  padding: 30px;
  background-color: var(--color-white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(2px, 2px, 2px, 2px);
  width: 2px;
  height: 2px;
  margin: -2px;
  padding: 0;
  clip-path: inset(50%);
}

.form {
  width: 320px;
  height: 555px;
  animation-duration: 650ms;
  transition:
    filter 500ms,
    transform 500ms,
    opacity 500ms;
  perspective: 1110px;
  will-change:
    filter,
    transform,
    opacity;
}

.form--hidden {
  filter: blur(40px);
  transform: scale(0.75);
  opacity: 0;
}

.form--shaked {
  animation-name: shake;
}

.form__container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 500ms;
  will-change: transform;
}

.form--flipped .form__container {
  transform: rotateY(180deg);
}

.form__front,
.form__back {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 50px 30px 40px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-image:
    var(--gradient-white),
    var(--gradient-primary);
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.form__back {
  padding-top: 62px;
  background-image:
    var(--gradient-white),
    var(--gradient-secondary);
  font-size: 13px;
  visibility: hidden;
  transform: rotateY(180deg);
  transition: visibility 1ms 500ms;
}

.form--flipped .form__front {
  visibility: hidden;
  transition: visibility 1ms 500ms;
}

.form--flipped .form__back {
  visibility: inherit;
  transition: none;
}

.form__row:not(:first-of-type) {
  margin-top: 20px;
}

.form__row--margin-30:not(:first-of-type) {
  margin-top: 30px;
}

.switcher {
  position: absolute;
  top: -1px;
  right: 30px;
  width: 50px;
  height: 45px;
  padding: 0;
  border: 0;
  border-radius: 0 0 50% 50%;
  background-repeat:
    no-repeat,
    repeat;
  background-position:
    50% 45%,
    0% 0%;
  background-size:
    45% 45%,
    auto;
  color: var(--color-white);
  font-weight: bold;
  font-size: 0;
  font-family: var(--font-family-mono);
  cursor: pointer;
}

.switcher:focus {
  outline: 0;
}

.switcher--front {
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M9 11H6c0-3 1.6-4 2.7-4.6.4-.2.7-.4.9-.6.5-.5.3-1.2.2-1.4-.3-.7-1-1.4-2.3-1.4C5.4 3 5 4.9 5 5.3l-3-.4C2.2 3.2 3.7 0 7.5 0c2.3 0 4.3 1.3 5.1 3.2.7 1.7.4 3.5-.8 4.7-.5.5-1.1.8-1.6 1.1-.9.5-1.2 1-1.2 2zM9.5 14a2 2 0 11-4 0 2 2 0 014 0z'/%3E%3C/svg%3E"),
    var(--gradient-primary);
}

.switcher--back {
  right: auto;
  left: 30px;
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 348.33 348.33'%3E%3Cpath d='M336.56 68.61L231.02 174.16l105.54 105.55a40.2 40.2 0 01-56.83 56.85L174.17 231 68.6 336.56a40.06 40.06 0 01-28.42 11.77 40.2 40.2 0 01-28.41-68.62l105.54-105.55L11.77 68.61A40.2 40.2 0 0168.6 11.77l105.57 105.55L279.72 11.77a40.2 40.2 0 0156.84 56.84z'/%3E%3C/svg%3E"),
    var(--gradient-secondary);
}

.label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.field {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-gray-25p);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-gray-75p);
  box-shadow: none;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  animation-duration: 650ms;
  transition: border-color 150ms;
  will-change:
    border-color,
    box-shadow;
}

.field::placeholder {
  color: var(--color-gray-25p);
}

.field:hover,
.field:focus {
  border-color: var(--color-gray-50p);
  outline: 0;
}

.field--highlighted {
  animation-name: highlight;
}

.button {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 22px;
  background-image: linear-gradient(-45deg, var(--color-primary-1), var(--color-primary-2), var(--color-secondary-1), var(--color-secondary-2));
  background-position: 100% 50%;
  background-size: 400% 400%;
  color: var(--color-white);
  font-weight: bold;
  font-size: 12px;
  font-family: var(--font-family-primary);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-position 250ms;
  will-change: background-position;
}

.button:focus {
  outline: 0;
}

.button--green {
  background-position: 0% 50%;
  transition: none;
}

.table {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--font-family-mono);
}

.table__td--value {
  text-align: right;
}

.h2 {
  margin: 0 0 14px;
  font-size: 18px;
}

.p {
  margin: 12px 0 0;
}

.ul {
  margin: 0;
  padding: 0 0 0 1.25rem;
}

.code {
  padding: 0 4px;
  border-radius: 3px;
  background-color: var(--color-gray-10p);
  font-weight: bold;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  16.65%,
  50%,
  83.35% {
    transform: translate3d(-3px, 0, 0);
  }

  33.3%,
  66.6% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes highlight {
  from,
  to {
    box-shadow: none;
  }

  16.65% {
    border-color: var(--color-red);
  }

  16.65%,
  50%,
  83.35% {
    box-shadow: 0 0 3px var(--color-red);
  }

  33.3%,
  66.6% {
    box-shadow: 0 0 4px 1px var(--color-red);
  }

  83.35% {
    border-color: var(--color-red);
  }
}
